@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html, body, #react-root {
  height: 100%;
  font-size: 14px;
  color: #656565;
  width: 100vw;
}
html{
  background: #F5F7FA;
}
td {
  font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
}
a {
  color: #5d9cec;
  text-decoration: none;
  &:hover {
    color: #4ebfbb;
    border: none;
  }
}
h1,h2,h3,h4,h5,h6{
  color: #656565;
}
h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

h2 {
  font-size: 1.57rem;
  font-weight: bold;
}

h3 {
  font-size: 1.43rem;
  font-weight: bold;
}

h4 {
  font-size: 1.28rem;
  font-weight: bold;
}

h5 {
  font-size: 1.14rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}
.container{
  //width: 100%;
  //max-width: 1170px;
  margin-top: 50px;
  margin-left: 250px;
  height: 100%;
  position: relative;
  padding: 20px;
  .footer{
    position: absolute;
    bottom: 5px;
    width: 100%;
  }
}
.box{
  margin: 10px 5px;
  padding: 15px;
  transition: all 0.2s ease;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-top-width: 3px;
  border-color: #cfdbe2;
  &.no-padding{
    padding: 0;
  }
  .box-header{
    margin-bottom: 15px;
  }
  .box-footer{
    margin-top: 15px;
  }
}
.title{
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 1.1px;
}
.error{
  color: #f0af03;
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > *{
    margin-bottom: 5px;
  }
}
.preloader-smile{
  position: relative;
  perspective: 50px;
  &:before, &:after{
    content: '=)';
    width: 25px;
    height: 25px;
    background: yellow;
    top: calc(50% - 14px);
    right: -45px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    animation: smileRotate 666ms infinite linear;
    border: 1px solid;
    transform: translate3d(0,0,0);
    box-shadow: 1px 2px 3px 0 #ff9900 inset;
  }
}
@keyframes smileRotate {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

.mount-exit {
  opacity: 1;
  //transform: translateY(0);
}

.mount-exit.mount-exit-active {
  opacity: 0.01;
  //transform: translateY(150%);
  transition: opacity .3s ease-out;
}

.mount-enter {
  opacity: 0.01;
  //transform: translateY(-150%);
}

.mount-enter.mount-enter-active {
  opacity: 1;
  //transform: translateY(0);
  transition: opacity .4s ease-in;
}
