$link-parent: '&';

.preloader-border{
  position: relative;
  perspective: 50px;
  &:before{
    content: '=]';
    width: 25px;
    height: 25px;
    top: -40px;
    left: calc(50% - 13px);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    animation: borderColor 666ms infinite linear;
    border: 2px solid;
    //border-left-color: #ff9900;
    transform: translate3d(0,0,0);
    box-shadow: 1px 2px 3px 0 #ff9900 inset;
    //transform:translateZ(0px);
  }
}
@keyframes borderColor {
  0% {transform: rotate(0);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}