@import '../../styles/mixins';

.common-bar-chart {
  &.chart_wrap{
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    padding-top: 30px;
    .filter{
      position: absolute;
      display: flex;
      right: 20px;
      top: 10px;
      justify-content: flex-end;
      align-items: center;
      & > *{
        //margin-right: 5px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .common-bar-chart {
    &.chart_wrap{
      min-height: 180px;
    }
  }
}