@import '../../styles/mixins';

.btn {
  border-radius: 10px;
  border: solid 2px rgba(140, 150, 169, .6);
  text-transform: uppercase;
  padding: 12px 15px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  color: #8c96a9;
  transition: all 0.2s ease;
  outline: none;
  &:hover{
    cursor: pointer;
    border-color: #ff9900;
  }
}