@import '../../styles/mixins';

.btn {
  border-radius: 10px;
  border: solid 2px;
  text-transform: uppercase;
  padding: 12px 15px;
  font-size: 0.715rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  color: #5d9cec;
  transition: all 0.2s ease;
  outline: none;
  background: transparent;
  i{
    font-size: 2em;
  }
  &.small{
    padding: 0 10px;
  }
  &.onlyIcon{
    color: #2DB7FA;
    border: none;
    padding: 3px;
    &:hover{
      color: #4ebfbb;
      background: inherit;
      i{
        color: revert;
      }
    }
  }
  &:active,
  &:hover{
    cursor: pointer;
    background: #5d9cec;
    color: #fff;
  }
}