@import '../../styles/mixins';

.btn {
  border-radius: 10px;
  border: solid 2px #8999b7;
  text-transform: uppercase;
  padding: 12px 15px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  color: #8999b7;
  transition: all 0.2s ease;
  outline: none;
  background: transparent;
  i{
    font-size: 2em;
  }
  &.onlyIcon{
    color: #2DB7FA;
    border: none;
    padding: 3px;
    &:hover{
      color: #4ebfbb;
    }
  }
  &:hover{
    cursor: pointer;
    color: #4ebfbb;
    border-color: #4ebfbb;
  }
}