@import '../../styles/mixins';

.common-track-list {
  .title{
    margin-left: 25px;
  }
  .list_wrap{
    display: flex;
    flex-direction: column;
    .list_row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      height: 30px;
      //color: #d2d2d2;
      font-weight: 300;
      &.err{
        justify-content: center;
        color: #ff9900;
      }
      &:nth-child(odd){
        background-color: #f4f5f6;
        //border-top: 1px solid rgba(51, 51, 51, 0.35);
      }
      & > *{
        flex: 1 1 20%;
        text-align: center;
        color: inherit;
      }
      .in,.out{
        letter-spacing: .5em;
        font-weight: bold;
      }
    }
    .week_sum, .overTime{
      font-weight: bold;
      letter-spacing: 1.2px;
    }
    .week_sum{
      height: 40px;
    }
    .status{
      padding-left: 5px;
      color: #999;
      &.on{
        color: #57b955;
      }
    }
    .list_head{
      //border-bottom: 2px solid #999;
      text-transform: capitalize;
      //color: #f2f2f2;
      font-weight: bold;
      letter-spacing: 1.2px;
      height: 40px;
      .in,.out{
        letter-spacing: initial;
        font-weight: inherit;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .common-track-list {
    .list_wrap{
      display: flex;
      flex-direction: column;
      .list_row{
        font-size: .8rem;
      }
    }
  }
}
.react-datepicker__input-container{
  input{
    height: 30px;
    border: none;
    outline: none;
    font-size: 0.9em;
    text-align: center;
    &::placeholder{
      color: inherit;
    }
  }
  .react-datepicker__close-icon{
    height: 30px;
    width: 15px;
    position: relative;
    &::after{
      content: '';
      font-family: 'Font Awesome 5 Free';
      position: absolute;
      border-radius: 0;
      color: #6CA6E0;
      background: transparent;
      //left: 0;
      top: 0;
      //height: 30px;
      bottom: initial;
      margin: 0;
      line-height: 25px;
    }
  }
}
.react-datepicker-popper{
  .react-datepicker{
    background-color: #f4f5f6;
    color: inherit;
  }
  .react-datepicker__header{
    background: transparent;
    color: inherit;
    border-radius: 0;
    border: none;
    .react-datepicker__current-month{
      text-transform: uppercase;
      color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
    }
  }
  .react-datepicker__time-container{
    height: 273px;
    .react-datepicker__time{
      background: transparent;
      .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected{
        background: #6CA6E0;
        color: #656565;
      }
    }
    .react-datepicker-time__header{
      text-transform: uppercase;
      color: inherit;
    }
  }
  .react-datepicker__day-name{
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
    color: inherit;
    border-radius: 0;
    margin: 0;
    line-height: 40px;
  }
  .react-datepicker__navigation{
    top: 14px;
  }
  .react-datepicker__month{
    margin: 0;
  }
  .react-datepicker__week{
    .react-datepicker__day{
      width: 40px;
      height: 40px;
      &--selected{
        background: #6CA6E0;
      }
      &:hover{
        background: #eeeeee;
        font-weight: bold;
        border-radius: 0;
      }
    }
  }
  .react-datepicker__day--keyboard-selected{
    background: #6CA6E0;
  }
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover{
    background-color: #eee;
    font-weight: bold;
    width: 99%;
  }
}
  .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before,
  .react-datepicker-popper[data-placement^="left"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="left"] .react-datepicker__triangle::before,
  .react-datepicker-popper[data-placement^="right"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="right"] .react-datepicker__triangle::before,
  .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before{
    display: none;
  }
@media screen and (max-width: 480px) {
  .react-datepicker-popper{
    .react-datepicker__day-name{
      font-weight: bold;
      width: 25px;
      height: 25px;
      display: inline-block;
    }
    .react-datepicker__week{
      .react-datepicker__day{
        width: 25px;
        height: 25px;
      }
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
      line-height: 25px;
    }
  }
}
