@import '../../styles/mixins';

.auth-sign-in{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px 30px;
  height: 100%;
  .box-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
    width: 100%;
    .input_wrap{
      width: 100%;
    }
    .btn{
      &.login{
        width: 100%;
      }
    }
  }
}
