@import '../../styles/mixins';

.auth-sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px 30px;
  min-height: 280px;
  height: 100%;
  .box-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 200px;
    width: 100%;
    .signUp_form{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      height: 400px;
      width: 100%;
      .input_wrap{
        width: 100%;
      }
    }
  }
}
